body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  margin: 20px;
}

table {
  border-collapse: collapse;
  text-align: center;
  td,th {
      border: 1px solid #4b4b4b;
      font: 17px 'Trebuchet MS', sans-serif;
  }
  th {
      font-weight: bold;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  background-color: #fff;
  border: 1px solid #000;
  font-size: 15px;
  min-width: 240px;
  min-height: 2.1rem;
  margin-right: 10px;
  padding: 0px 6px;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #2ea44f;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2.5rem;
  padding: 0 12px;
  margin-top: 9px;
  position: relative;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  &:hover,
  &:focus {
    background-color: #10732c;
  }
}