body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  margin: 20px;
}

table {
  border-collapse: collapse;
  text-align: center;
  td,th {
      border: 1px solid #4b4b4b;
      font: 17px 'Trebuchet MS', sans-serif;
  }
  th {
      font-weight: bold;
  }
}

a {
  text-decoration: none;
}
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding-bottom: .5em;
}